<!DOCTYPE html>
<html lang="en" ng-app="MLFW" ng-csp>
	<head>
		<meta content="width=device-width, initial-scale=1" name="viewport" />

		<link rel="stylesheet" type="text/css" href="/bower_components/angular/angular-csp.css">
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/rainbow_dash.css">

		<!-- JS libraries -->
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		
		<!-- Angular plugins -->
		<script src="/bower_components/angular-deckgrid/angular-deckgrid.js"></script>

		<!-- App -->
		<script type="text/javascript" src="/popup.js"></script>
	</head>
	<body>
		<div class="container-fluid" ng-controller="MlfwController">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="search-form" class="form-inline">
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search MLFW" ng-model="query">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="getFaces()">Search</button>
								</span>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h5 id="results-label" ng-show="!!query.length">Results</h5>
					<p id="empty-text" class="muted" ng-show="!!query.length && !faces.length">
						<small id="empty-text-inner">No results</small>
					</p>
				</div>
			</div>
			<div class="image-grid">
				<div class="face" ng-repeat="face in faces">
					<img ng-src="http://mylittlefacewhen.com/{{face.image}}">
				</div>
			</div>
		</div>
		
	</body>
</html>