body {
  width: 420px;
  min-height: 30px;
  max-height: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.face {
  max-width: 45%;
  width: auto;
  height: auto;
  background-color: white;
  margin: 5px;

  img {
    border-radius: 2px;
    max-width: 100%;
  }
}