body {
  width: 420px;
  min-height: 30px;
  max-height: 600px;
  padding-top: 10px;
}

.image-div {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mosaic-backdrop > a {
  text-align: center;
}

.wf-loading,
.wf-inactive {
  p,
  h1 {
    font-family: sans-serif;
  }
}

.wf-active {
  p {
    font-family: 'Roboto Condensed', sans-serif;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
  }
}