#root {
  width: 600px;
  min-height: 50px;
  max-height: 600px;
  padding-top: 10px;
}

.item {
  max-width: 140px;
  max-height: 140px;
  margin: 5px;
}

.item-tall {
  max-height: 390px;
}

.item-wide {
  max-width: 390px;
}

.mosaicflow__column {
  float:left;
}

.mosaicflow__item img {
  display:block;
  width:100%;
  height:auto;
}

.wf-loading p,
.wf-inactive p,
.wf-loading h1,
.wf-inactive h1 {
  font-family: sans-serif
}

.wf-active p {
  font-family: 'Roboto Condensed', sans-serif
}

.wf-active h1 {
  font-family: 'Roboto', sans-serif;
}