#root {
  width: 600px;
  min-height: 50px;
  max-height: 600px;
  padding-top: 10px;
}

.item {
  max-width: 140px;
  max-height: 140px;
  margin: 5px;
}

.item-tall {
  max-height: 390px;
}

.item-wide {
  max-width: 390px;
}

.mosaicflow__column {
  float:left;
}

.mosaicflow__item img {
  display:block;
  width:100%;
  height:auto;
}