#root {
  width: 420px;
  min-height: 50px;
  max-height: 600px;
  padding-top: 10px;
}

.item {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
  float: left;
  position: relative;
  overflow: hidden;
}

.variable-sizes .item-tall {
  max-height: 400px;
}

.variable-sizes .item-wide {
  max-width: 400px;
}

.mosaicflow__column {
  float:left;
}

.mosaicflow__item img {
  display:block;
  width:100%;
  height:auto;
}