!!!
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / 20% cooler in ten seconds flat
    %link{href: "/style/plugins.css", rel: "stylesheet"}/
    %link{href: "/style/rainbow_dash_always_dresses_in.css", rel: "stylesheet"}/
    / JavaScripts
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/popup.js", type: "text/javascript"}
  %form{style: "display: none;"}
    %input#sandbox{type: "text"}/
  #root.container
    .row
      .span10
        %form#search-form.form-inline
          %fieldset
            .control-group
              .input-append
                %input#search-bar.input-block-level{placeholder: "Search MLFW", type: "text"}/
                %button.btn{type: "submit"} Search
    .row-fluid
      .span10.offset1
        %h5#results-label Results
        %p#empty-text.muted
          %small#empty-text-inner No results
    #quilt.row
